<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <style>
      .button {
        display:inline-block;
        padding:10px 20px;
        text-align: center;
        text-decoration:underline;
        color:#ffffff;
        background-color:#a1251b;
        border-radius:200px;
      }
    </style>
  </head>
  <body>
    <div style="background-color:#000000" class="container-fluid">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
        <h1 style="color:#a1251b">Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="button" href="/scrape" role="button">Click me to Scrape New Data</a></p>
      </div>
      <!-- Add section for Mars News -->
      <div class="row" id="mars-news" style="color:#a1251b">
        <div class="col-xs-12 col-md-12">
          <div class="media">
            <div class="media-body text-center">
              <h2 style="color:#a1251b">Latest Mars News</h2>
              <h4 class="media-heading text-uppercase" style="color:#a1251b">{{ mars.news_title }}</h4>
              <p>{{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-xs-12 col-md-6 text-center">
          <h2 style="color:#a1251b">Featured Mars Image</h2>
          <img
            src="{{mars.featured_image }}"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>
        <div class="col-xs-12 col-md-6 text-center">
          <!-- Mars Facts -->
          <div class="row" id="mars-facts" style="color:#a1251b">
            <h2 class="text-center" style="color:#a1251b">Mars Facts</h2>
            {{ mars.facts | safe }}
          </div>
        </div>
        <div class="row" id="mars-hemisphere">
          <!-- Mars Hemisphere -->
          <div class="page-header">
            <h2 class="text-center" style="color:#a1251b">Mars Hemispheres</h2>
          </div>
            {% for hemi in mars.Hemisphere %}
            <div class="col-xs-3 col-md-6">
              <div class="thumbnail">
                <img src="{{hemi.img_url | default('static/images/error.png', true)}}" alt="...">
                <div class="caption" style="color:#a1251b">
                  <h5>{{hemi.title}}</h5>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type='text/javascript'>
      window.onload = function() {
        const thead = document.querySelectorAll('.table > thead');
        thead.forEach(e => e.classList.add('thead-dark'));
      }
    </script>
  </body>
</html>